{{ $isTag := and (eq .Kind "term") (eq .Data.Singular "tag") }}
<header class="article-head">
    <h1 class="article-title">
        <a href="{{ .RelPermalink }}" rel="bookmark">
            {{ .Title }} {{- if $isTag }}({{ len (.Site.Taxonomies.tags.Get .Data.Term) }}){{- end }}
        </a>
    </h1>
    {{ if .PublishDate }}
    {{ if not $isTag }}
    <div class="article-info">
        <p>
            <time datetime="{{ .PublishDate }}">
                {{ .PublishDate | time.Format ":date_medium" }}
            </time>
        </p>
    </div>
    {{ end }}
    {{ end }}
</header>