{{ define "main" }}
    {{ $isTagList := and (eq .Kind "taxonomy") (eq .Data.Singular "tag") }}
    {{ if $isTagList }}
    <h1>Tags: </h1>
    {{ end }}
    {{ if .Pages }}
        {{ if $isTagList }}
<div class="tag-list">
        {{ else }}
<div class="article-list">
        {{ end }}
        {{ range .Paginator.Pages }}
    <article>
            {{ .Render "article-header" }}
            {{ .Render "article-summary" }}
    </article>
            {{ if and (ne .Kind "term") (ne .Data.Singular "tag") }}
    <hr class="article-divider"/>
            {{ end }}
        {{ end }}
</div>
{{ partial "pagination.html" . }}
    {{ end }}
{{ end }}